body {
    font-family: "Myriad pro";
    margin: 0;
    align-self: center;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main-header {
    padding-top: 15px;
    background-color: white;
}

.logo {
    color: black;
    font-size: 50px;
    text-decoration: none;
}

.blue {
    color: #4dcaff;
}

.header-nav {
    margin-top: 15px;
    background-color: #36444f;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

.nav-link {
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    padding: 15px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #818181;
}

.content {
    margin-top: 25px;
    width: 100%;
    height: 100%;
}

.side {
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
}

.nav-menu {
    border: 1px solid black;
    width: 344px;
    float: left;
    height: 100%;
}

.nav-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-menu-list a {
    display: inline-block;
    width: 100%;
    color: black;
    padding: 15px;
    text-decoration: none;
    font-size: 27px;
    transition: all 0.5s;
}

.nav-menu-list a:hover {
    background-color: #dbdbdb;
    padding-left: 30px;
}

.image {
    display: inline-block;
    width: calc(100% - 380px);
    height: 100%;
}

.article {
    float: right;
    font-size: 20px;
}

.article-image {
    border: 1px solid #3f3f3f;
    padding: 60px;
    max-height: 500px;
    overflow: hidden;
}

.article-image img {
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    text-align: center;
    margin: 0 auto;
    transition: .3s;
}

.article-image img:hover {
    transform: scale(1.5);
}

footer {
    padding-bottom: 15px;
    justify-content: space-evenly;
}

.footer-nav {
    padding: 20px 40px;
    font-size: 24px;
    background-color: rgb(150, 146, 146);
    display: inline-block;
    width: 100%;
}

.footer-nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    text-align: center;
}

.footer-nav a:hover {
    border-bottom: 1px solid #62a7c7;
    color: #62a7c7;
}

.footer-nav span {
    padding-bottom: 0;
    margin-bottom: 0;
    float: right;
    height: 100%;
}