body {
    height: 100vh;
    margin: 0 auto;
    background-image: url("../journey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

.header-nav {
    position: relative;
    padding: 15px 70px;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo a {
    opacity: 1;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo a:hover {
    color: #3cb878;
}

.navigation {
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-sprite {
    padding: 0 18px;
    position: relative;
    margin: 0;
}

.icon-sprite:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #302e2f;
    top: 20%;
    right: 0;
}

.icon-calendar {
    background-image: url("../icons.png");
    background-position: -125px 1px;
    display: inline-block;
    height: 100%;
    width: 50px;
}

.icon-forum {
    background: url("../icons.png");
    background-position: -40px 1px;
    height: 100%;
    width: 50px;
    display: inline-block;
}

.icon-compass {
    background: url("../icons.png");
    background-position: -78px 1px;
    height: 100%;
    width: 50px;
    display: inline-block;
}

.icon-calendar:hover,
.icon-forum:hover,
.icon-compass:hover {
    color: #3cb878;
    border-bottom: 1px solid #3cb878;
    filter: invert(53%) sepia(90%) saturate(6800%) hue-rotate(149deg) brightness(100%) contrast(70%);
}

.header-signin {
    padding-top: 3px;
    padding-left: 22px;
    margin: 0;
    color: white;
    font-size: 14px;
    text-align: center;
}

.header-signin:hover {
    color: #3cb878;
}

.header-signin a {
    text-decoration: none;
    color: #3cb878;
}

.header-signin a:hover {
    border-bottom: 1px solid #3cb878;
    color: #3cb878;
}

.container {
    margin: 30px;
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 576px;
    width: 430px;
}

.colored-box {
    border: 1px solid #3cb878;
    height: 20px;
    width: 20px;
    margin-top: 28px;
    background-color: #3cb878;
}

.form-heading {
    display: flex;
    justify-content: space-between;
}

.login:hover {
    border-bottom: 1px solid #3cb878;
}

.loginform {
    margin-left: -20px;
    padding: 25px 60px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-header {
    font-size: 20px;
    color: #434343;
}

.loginform a {
    padding-top: 5px;
    font-size: 13px;
    color: #3cb878;
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.loginBtn {
    position: relative;
    margin: 0.1em;
    padding: 8px 32px 8px 45px;
    border: none;
    text-align: left;
    line-height: 15px;
    white-space: nowrap;
    border-radius: 0.3em;
    font-size: 19px;
    color: #FFF;
    width: 150px;
}

.loginBtn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}


/* Facebook */

.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */

.loginBtn--google {
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.btn {
    font-size: x-large;
    background-color: #3cb878;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.text-or {
    color: #848484;
    text-align: center;
}

.text-or:before,
.text-or:after {
    content: "";
    display: inline-block;
    height: 0.8px;
    position: relative;
    vertical-align: middle;
    width: 45%;
    background-color: #eaeaea;
}

.form-control {
    position: relative;
    font-size: 18px;
    height: 100%;
    height: 40px;
    margin: -10px 0;
    padding-left: 15px;
    border: solid 1px lightgrey;
    border-radius: 2px;
}

.form-control:focus {
    outline: none;
    border: thin solid 1px black;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.21));
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.checkbox {
    font-size: large;
    margin-bottom: 30px;
}

input[type="checkbox"] {
    color: #434343;
    position: relative;
    cursor: pointer;
}

.terms {
    color: #3cb878;
}